<body>
    <%- include('partials/navbar.ejs') %>
    <div class="d-flex">
        <%- include('partials/interviewCard.ejs') %>
        <button type="button" data-bs-toggle="modal" data-bs-target="#interviewModal" data-bs-whatever="@mdo" class="card m-3" style="width: 18rem">
            <img src="/img/add.svg" class="card-img-top my-auto" alt="..." />
        </button>
    </div>
    <%- include('partials/interviewModal.ejs') %>
</body>
